In [1]:
import pandas as pd

In [19]:
train = pd.read_csv("preprocessed_train.csv", index_col=0)
test = pd.read_csv("preprocessed_test.csv", index_col=0)

In [21]:
train.head(5)

,merchant,category,amt,gender,street,city,zip,city_pop,job,merch_lat,merch_long,hour,age,is_fraud
0,-0.739927,-0.780839,-0.131394,-0.909873,-0.001823,-0.000575,-0.001569,-0.278784,-0.080562,1.272559,1.261296,-0.117585,-1.411815,0
1,-0.812335,-0.663257,-0.225144,-0.909873,-0.065551,-0.072765,-0.066224,-0.291830,-0.103939,-0.543730,-1.124730,0.762280,-0.840727,0
2,-0.424495,-0.523067,-0.232657,1.099055,-0.208164,-0.234313,-0.210911,-0.288761,-0.276469,0.208119,0.146716,-0.557518,-0.382000,0
3,-0.739843,-0.787304,-0.172557,1.099055,-0.202632,-0.228047,-0.205299,-0.057408,-0.254767,-1.647705,-0.032346,0.322347,-1.220299,0
4,1.943985,2.159119,-0.417425,1.099055,-0.019178,-0.020234,-0.019176,-0.286354,-0.095365,0.463012,1.124147,-0.997451,2.070892,0

In [23]:
test.head(5)

,merchant,category,amt,gender,street,city,zip,city_pop,job,merch_lat,merch_long,hour,age,is_fraud
0,-0.367561,-0.663257,-0.231291,-0.909873,0.268015,0.305091,-0.210911,-0.267300,0.504912,1.019246,-0.985219,0.762280,1.901249,0
1,-0.706040,-0.663257,-0.311444,1.099055,-0.208164,-0.234313,-0.210911,-0.291535,-0.265564,0.640950,-0.349702,1.202213,1.109217,0
2,-0.641478,-0.611769,-0.366453,1.099055,0.706429,0.801717,-0.210911,-0.263462,0.464168,0.688917,-0.321573,0.615636,0.636170,0
3,-0.759337,-0.777244,-0.192176,-0.909873,-0.048389,-0.053324,-0.210911,-0.293132,-0.293632,0.465582,0.957399,-0.117585,0.064767,0
4,-0.750192,-0.777244,-0.106435,1.099055,-0.208164,-0.234313,-0.210911,-0.277671,-0.137978,-3.759530,-4.793864,0.762280,0.364867,0

In [25]:
train[train['is_fraud']==1].shape[0]/train.shape[0]*100

0.5788434588706052

In [27]:
test[test['is_fraud']==1].shape[0]/test.shape[0]*100

0.5789158438366799